APP_NAME="Kania Health Bridge API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Jakarta

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kania_health_bridge
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

BRIDGE_ENV=sandbox
BRIDGE_KEY=change-this-secret-key
BRIDGE_ALLOWED_IPS=
BRIDGE_LOG_PAYLOAD=true
BRIDGE_TIMEOUT=30

# BPJS VClaim / Aplicares / Antrol style credential
BPJS_CONS_ID=
BPJS_SECRET_KEY=
BPJS_USER_KEY=
BPJS_BASE_URL=https://apijkn-dev.bpjs-kesehatan.go.id/vclaim-rest-dev

ANTROL_CONS_ID=
ANTROL_SECRET_KEY=
ANTROL_USER_KEY=
ANTROL_BASE_URL=https://apijkn-dev.bpjs-kesehatan.go.id/antreanrs_dev

ICARE_CONS_ID=
ICARE_SECRET_KEY=
ICARE_USER_KEY=
ICARE_BASE_URL=https://apijkn-dev.bpjs-kesehatan.go.id/ihs_dev

APOTEK_CONS_ID=
APOTEK_SECRET_KEY=
APOTEK_USER_KEY=
APOTEK_BASE_URL=https://apijkn-dev.bpjs-kesehatan.go.id/apotek-rest-dev

# SATUSEHAT
SATUSEHAT_CLIENT_ID=
SATUSEHAT_CLIENT_SECRET=
SATUSEHAT_AUTH_URL=https://api-satusehat-stg.dto.kemkes.go.id/oauth2/v1/accesstoken?grant_type=client_credentials
SATUSEHAT_BASE_URL=https://api-satusehat-stg.dto.kemkes.go.id/fhir-r4/v1
SATUSEHAT_ORGANIZATION_ID=
